<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.rms">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 카메라 권한 and 메모리 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!--음성인식권한-->

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RMS"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".CountdownTimer.ssy_Countdowntimer"
            android:exported="true" />
        <activity
            android:name=".Foodlist.ssh_FoodListActivity"
            android:exported="true" />
        <activity
            android:name=".Webview.ssy_Webview"
            android:exported="true" />
        <activity
            android:name=".Barcode.ssh_BarcodeCustom"
            android:exported="true" />
        <activity
            android:name=".SettingActivity"
            android:exported="true" />
        <activity
            android:name=".Recipe.ssy_RecipeActivity"
            android:exported="true" />
        <activity
            android:name=".Recipe.RecipeMake.ssy_RecipeMakeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.blacklog.takepicture.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>